nav {
  .top-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    color: rgba(255,255,255, .9);
    padding-inline: 5.6rem;

    & > div:nth-of-type(1) {
      ul {
        display: flex;
        gap: 4rem;
        li {
          display: flex;
          gap: 1.2rem;
          align-items: center;
        }
        svg {
          color: var(--yellow);
        }
      }
    }

    & > div:nth-of-type(2) {
      display: flex;
      gap: 1.6rem;
      svg {
        color: white;
      }
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;

    & > div:nth-of-type(1) {
      height: 5rem;
    }

    & > div:nth-of-type(2) {
      ul {
        display: flex;
      }
    }
  }
}
