@media (min-width: 35em) {
  .projects {
    background-color: var(--black);
    padding-inline: 6.4rem;
    padding-block: 5.6rem;

    h5 {
      color: white;
      margin-bottom: 4rem;
    }

    & > div {
      display: flex;
      gap: 1.6rem;
      & > div {
        flex: 1 1 10rem;
        height: 61.6rem;
      }
      & > div:nth-of-type(1) {
        & > div:nth-of-type(1) {
          height: 40rem;
          margin-bottom: 1.6rem;

          position: relative;
          cursor: pointer;
          &::before {
            content: '';
            display: block;
            inset: 0;
            background-image: linear-gradient(transparent, var(--black));
            position: absolute;
          }
        }
        & > div:nth-of-type(2) {
          display: flex;
          gap: 1.6rem;
          & > div {
            flex: 1 1 10rem;
            height: 20rem;
            position: relative;
            cursor: pointer;
            &::before {
              content: '';
              display: block;
              inset: 0;
              background-image: linear-gradient(transparent, var(--black));
              position: absolute;
            }
          }
        }
      }
      & > div:nth-of-type(2) {
        & > div:nth-of-type(1) {
          display: flex;
          gap: 1.6rem;
          & > div {
            flex: 1 1 10rem;
            height: 20rem;
            position: relative;
            cursor: pointer;
            &::before {
              content: '';
              display: block;
              inset: 0;
              background-image: linear-gradient(transparent, var(--black));
              position: absolute;
            }
          }
        }
        & > div:nth-of-type(2) {
          height: 40rem;
          margin-top: 1.6rem;
          position: relative;
          cursor: pointer;
          &::before {
            content: '';
            display: block;
            inset: 0;
            background-image: linear-gradient(transparent, var(--black));
            position: absolute;
          }
        }
      }
    }
  }
}




@media (max-width: 35em) {
  .projects {
    background-color: var(--black);
    padding: 2.4rem;

    h5 {
      color: white;
      margin-bottom: 4rem;
    }

    & > div {

      & > div {
        height: 61.6rem;
      }
      & > div:nth-of-type(1) {
        & > div:nth-of-type(1) {
          height: 40rem;
          margin-bottom: 1.6rem;

          position: relative;
          cursor: pointer;
          &::before {
            content: '';
            display: block;
            inset: 0;
            background-image: linear-gradient(transparent, var(--black));
            position: absolute;
          }
        }
        & > div:nth-of-type(2) {
          display: flex;
          gap: 1.6rem;
          & > div {
            flex: 1 1 10rem;
            height: 20rem;
            position: relative;
            cursor: pointer;
            &::before {
              content: '';
              display: block;
              inset: 0;
              background-image: linear-gradient(transparent, var(--black));
              position: absolute;
            }
          }
        }
      }
      & > div:nth-of-type(2) {
        & > div:nth-of-type(1) {
          display: flex;
          gap: 1.6rem;
          & > div {
            flex: 1 1 10rem;
            height: 20rem;
            position: relative;
            cursor: pointer;
            &::before {
              content: '';
              display: block;
              inset: 0;
              background-image: linear-gradient(transparent, var(--black));
              position: absolute;
            }
          }
        }
        & > div:nth-of-type(2) {
          height: 40rem;
          margin-top: 1.6rem;
          position: relative;
          cursor: pointer;
          &::before {
            content: '';
            display: block;
            inset: 0;
            background-image: linear-gradient(transparent, var(--black));
            position: absolute;
          }
        }
      }
    }
  }
}