@media (min-width: 35em) {
  .testimonials {
    h5 {
      margin-bottom: 4rem;
    }
    position: relative;
    height: 40rem;
    z-index: 1;
    color: white;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.8);
    }
    & > div {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      & > div {
        flex: 1 1 10rem;
      }
      & > div:nth-of-type(1) {
        padding-block: 5.6rem;
        & > div {
          display: flex;
          gap: 1.6rem;
          justify-content: space-between;

          svg {
            font-size: 4rem;
            color: var(--yellow);
          }
        }
      }
      & > div:nth-of-type(2) {
        padding-top: 4.5rem;
      }
    }
  }
}






@media (max-width: 35em) {
  .testimonials {
    h5 {
      margin-bottom: 4rem;
    }
    position: relative;
    
    z-index: 1;
    color: white;
    padding: 2.4rem;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.8);
    }
    & > div {
    

      & > div:nth-of-type(1) {
        padding-block: 5.6rem;
        & > div {
          display: flex;
          gap: 1.6rem;
          justify-content: space-between;

          svg {
            font-size: 4rem;
            color: var(--yellow);
          }
        }
      }
      & > div:nth-of-type(2) {
        padding-top: 4.5rem;
      }
    }
  }
}

